body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.ui-icon.fa {
    text-indent: 0px;
    background-image: none;
}

#content {
    width: 100%;
    flex: 0 0 75%;
    position: relative;
}

#header {
    background-color: #ccd2d3;
    height: 30px;
    border: 1px;
    border-radius: 2px;
}

#connectoren {
    float: left;
}

#change {
    float: left;
    position: absolute;
}

#namelogin {
    float: left;
    margin-left: 20px;
}

#footer {
    background-color: #ccd2d3;
    position: fixed;
    bottom: 0px;
    height: 120px;
    width: 99%;
    border: 1px;
    border-radius: 2px;
}

#Firma {
    float: left;
}

#Adresse {
    float: right;
    margin-right: 10px;
}


#header-right {
    margin-left: 84%;
}

.menueButton {
    width: 50px;
}

#wrapper {
    float: left;
    display: flex;
}

.datalist-noborder .ui-widget-content {
    border: none;
    align-content: center;
}

.datalist-noborder {
    border: none;
    align-content: center;
}

#right {

    flex: 1;
    width: 250px;
}

#rightAnsicht {
    float: right;
}

.customerButton {
    width: 100%;
}

#customerTable {
    width: inherit;
    border: 1px solid;
    align-items: center;
}

th {
    background-color: #ccd2d3;
    padding: 5px 5px 5px 5px;
    border: 1px solid;
}

td {
    padding: 0px 5px 0px 5px;
}

td.footer {
    background-color: #ccd2d3;
    border: 1px solid;
    padding: 5px;
}

tr.odd {
    background-color: #edf4f5;
}

tr.even {
    background-color: #dae0e1;
}

.alert {
    color: red;
    font-size: 9px;
}

#dataTable {
    width: 100%;
}